.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height:100%;
    margin: 0px 0px 0px 0px;
}

.margin-div {
    margin: 10px 10px 10px 10px;
}

.item-settings {
    flex: 1 200px;
    height: 100%;
    flex-shrink: 0;
    background-color: lightgray;
}

.mat-form-field-appearance-legacy {
    width:250px;
}
.setting-field {
    width:100%;
}
.setting-label {
    padding: 16px 0px 16px 0px;
    text-align: left;
    width: 130px;
}

.setting-toggle {
    padding: 16px 0px 16px 0px;
    text-align: left;
    width: 130px;
}

.setting-divider {
    padding: 4px;
}


.setting-row {
    display:flex;
}

#testSlider {
    width: 100%;
}

.testSlider {
    width: 100%;
}

.divider {
    background-color: grey;
    flex: 1 5px;
    flex-shrink: 0;
    flex-grow: 0;

}
.item-view {
    margin-left: 10px;
    flex: 1 auto;
    height: 100%;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }
  