  <mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                (closed)="events.push('close!')">
  <div class="margin-div">
    <div>
        <mat-form-field class="example-full-width">
          <input class="setting-field" matInput placeholder="Output Image Width" value="800" #outputImageWidth>
        </mat-form-field>
      </div> 
    <div>
      <mat-form-field #colorScheme>
        <mat-label>Color Scheme</mat-label>
        <select matNativeControl [(ngModel)]="selectedColorScheme">
          <option value="black-white">Black on White</option>
          <option value="white-black">White on Black</option>
          <option value="sepia">Sepia</option>
          <option value="sepia-inverse">Sepia Inverse</option>
          <option value="cool-grey">Cool Grey</option>
          <option value="cool-grey-inverse">Cool Grey Inverse</option>
        </select>
      </mat-form-field>      
    </div>
    <div class="setting-row">
      <span class="setting-label">Line Thickness: </span><mat-slider #lineThickness min="1" max="20" step="1" value="3"></mat-slider>
    </div>
    <div class="setting-row">
      <span class="setting-label">Min Cell Size: </span><mat-slider #minCellSize min="3" max="100" step="1" value="3"></mat-slider>
    </div>
    <div class="setting-row">
      <span class="setting-label">Cell Scale: </span><mat-slider #cellScale min="-8" max="8" step="1" value="-3"></mat-slider>
    </div>
    <div class="setting-row">
      <span class="setting-label">Voronoi: </span><span class="setting-toggle"><mat-slide-toggle #voronoi [(ngModel)]="voronoiChecked"></mat-slide-toggle></span>
    </div>
      <button mat-raised-button color="primary" (click)="onRegenerateClicked()">Regenerate</button>
      <div class="setting-divider"></div>
      <mat-divider class="setting-divider"></mat-divider>
      <mat-form-field #stockImages >
        <mat-label>Stock Images</mat-label>
        <select matNativeControl [(ngModel)]="selectedStockImage" (change) = "onStockImagePicked($event)" >
          <option value="natalie-1024.jpg">Natalie</option>
          <option value="eiffel-tower.jpg">Eiffel Tower</option>
          <option value="apple-1024.jpg">Apple</option>
          <option value="face.jpg">Brunette</option>
          <option value="greyscale-blonde.jpg">Blonde</option>
          <option value="greyscale-rose-2.jpg">Rose</option>
        </select>
      </mat-form-field>      
      <div class="setting-row"><button mat-raised-button color="primary" (click)="onChoosePicClicked()">Choose Image...</button></div>
      <div class="setting-divider"></div>
      <canvas #sourceCanvas width="250" height="250"></canvas>
      <input #chooseFileInput style="display:none" type="file" accept="image/png, image/jpeg" (change)="onImageChange($event)">
    <mat-divider class="setting-divider"></mat-divider>
      <button mat-raised-button color="primary" (click)="onCloseSettings()">&lt;&lt; Close</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <canvas #myCanvas width="500" height="500" (click)="onToggleSideNav()"></canvas>
  </mat-sidenav-content>
</mat-sidenav-container>



