.button-comp {
    margin: 10px;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    cursor: pointer;
    border-color: darkgray;
    border-style: solid;
    border-width: 1px ;
    font-family: sans-serif;
}

.button-comp:hover {
    background-color: #F0F0F0;
    
}